.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    border-radius: 2vmin;
    .buttons {
      display: flex;
    }
    .form-container {
      display: flex;
      align-content: space-between;
    }
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
  }