.Logo {
    height: 3vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    align-items: center;
    color: var(--indigo);
    font-family: 'Caprasimo', cursive;
    font-size: 6vmin;
    }

.AuthPgLogoBackground {
    height: 20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
}